.history {
    display: flex;
    justify-content: center;
    align-items: center
}



.close {
    visibility: hidden;
}

.history__slider {
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }
}

.history__list {
    padding: 0;
    gap: 0.5rem;
    list-style: none;
    justify-content: center;
    display: flex;

    & li {
        width: 4.5rem;
    }

    & img {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        display: block;
        border: 3px solid var(--background);
    }

    & span {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 4.5rem;
        font-size: 0.7rem;
    }
}

.history__link {
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
    align-items: center;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 4.5rem;


}

.history__link-history {
    &::after {
        background: linear-gradient(90deg, #df03ae, #d21010 35%, #00ffaf);
        border-radius: 50%;
        content: "";
        height: 2.9rem;
        position: absolute;
        top: -1px;
        width: 3rem;
        z-index: -1;
    }
}